/* цвета
основной текст заготовков #212121
 текст #757575
 цвет логотипа #2196F3
 цвет акцент #2196F3*/

:root {
  --logo-color: #212121;
  --logo-span: #2196f3;
  --colore-heading: #212121;
  --colore-text: #757575;
  --colore-backgraund: #e5e5e5;
  --colore-focus: #2196f3;
  --colore-auth-nav: #757575;
}

/* font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em; */

body {
  /* background-color: var(--colore-backgraund); */
  color: var(--colore-heading);
  font-family: Roboto, cursive;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  margin: 0;
  padding: 0;
}

/* логотип */
.logo {
  display: flex;
  padding: auto;

  color: var(--logo-color);
  font-family: Raleway, cursive;

  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo > span {
  color: var(--logo-span);
}
/* навигация */
.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: flex;
  color: var(--colore-heading);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--colore-focus);
}

.auth-nav {
  display: flex;
  margin-left: 305px;
  align-items: center;
}

.auth-nav .link {
  display: flex;
  align-items: center;
  color: var(--colore-auth-nav);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav .item + .item {
  margin-left: 30px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--colore-focus);
}

.icon-email {
  height: 16px;
  margin-right: 10px;
}

.link-phone {
  width: 15px;
  margin-right: 10px;
  fill: #757575;
}

.link:hover,
.link:focus {
  --color4: var(--colore-focus);
}
.hero {
  text-align: center;
  margin-bottom: 94px;
  max-width: 1600px;
  height: 600px;
  margin-left: 0;
  margin-right: 0;
  background: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../image/hero.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* герой */
/* font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase; */
.hero-list {
  display: flex;
  align-items: center;
}
.hero-text {
  margin: 0;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  align-content: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  display: inline-block;
  border: 4px solid transparent;
  border-radius: 4px;
  padding: 11px 34px;
  min-width: 200px;
  color: white;
  background-color: var(--logo-span);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  margin-top: 46px;
}

/* color: #ffffff;
  background-color: #2196f3;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none; */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */

  /* background: tomato; */
}
/* section 1 */
.section {
  margin-bottom: 94px;
  /* background: tomato; */
}

.list-class {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.items::before {
  display: block;
  content: '';

  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.icon-anntena::before {
  background-image: url(../image/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.icon-clock::before {
  background-image: url(../image/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-diagram::before {
  background-image: url(../image/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-actronaut::before {
  background-image: url(../image/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

. .section-heading {
  color: var(--colore-heading);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

.section-text {
  color: var(--colore-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0px;
}

.list-class .items + .items {
  margin-left: 30px;
}
.items {
  width: 270px;
}
/* .site-nav .item + .item {
  margin-left: 50px; */

/* section 2 робота */
.heading {
  margin: 0;
  padding-bottom: 50px;
}
.section-work .heading {
  color: var(--colore-heading);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.title {
  position: relative;
  text-align: center;
  margin: 0;
  bottom: 0;
  height: 294px;
}

.list-work {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 94px;
}

.label {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
}

.work-text > .label {
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 370px;
  padding: 27px 83px;
  background: rgba(47, 48, 58, 0.8);
}

/* команда */
.listt {
  list-style: none;
}

.our-comand {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.section-team {
  margin-bottom: 94px;
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team .heading {
  color: var(--colore-heading);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-team .people {
  color: var(--colore-heading);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.people {
  text-align: center;
  width: 270px;
  height: 422px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.list-work .title + .title {
  margin-left: 15px;
}
.listt .people + .people {
  margin-left: 30px;
}

.people > span {
  color: #757575;
  font-weight: 400;
}

.client-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 50px;
}
.list-client {
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  list-style: none;
}

.clients {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients:hover,
.clients:focus {
  border: 1px solid #2196f3;
}

.clients:hover,
.clients:focus {
  --color3: #2196f3;
}

.list-client .clients + .clients {
  margin-left: 30px;
}
.links {
  display: inline-block;
  color: var(--colore-heading);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-top: 16px;
  padding: 12px;

  /* background: grey; */
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.links:focus,
.links:hover {
  --color3: white;
  background-color: #2196f3;
  border-radius: 50%;
}

.logo-footer {
  color: var(--logo-color);
  font-family: Raleway, cursive;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.181;
  width: 231px;
}
.logo-footer > span {
  color: var(--logo-span);
}
.adress {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.text-footer {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.navigation {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 28px;
}
.social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  padding-top: 18px;
  padding-bottom: 21px;
}

.footer {
  background-color: #2f303a;
}
.navigation-button {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
}

.footers-button {
  margin: 0;
  padding: 0;
}

.footer-button {
  display: inline-block;
  border: 4px solid transparent;
  border-radius: 4px;
  padding: 11px 34px;
  min-width: 200px;
  color: white;
  background-color: var(--logo-span);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
}
.footers-button {
  display: inline-block;
  border: 4px solid transparent;
  border-radius: 4px;
  padding: 11px 34px;
  min-width: 358px;
  color: white;
  background-color: var(--colore-text);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.nav {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.blocklink {
  margin-left: 69px;
}
.na {
  margin-left: 94px;
}
.social .adresi + .adresi {
  margin-left: 11px;
}
.navigation-button .navigations + .navigations {
  margin-left: 12px;
}

.social .links-footer + .links-footer {
  margin-left: 10px;
}
.linkss {
  padding: 12px;
  --color3: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.linkss:focus,
.linkss:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.social .linkss + .linkss {
  margin-left: 10px;
}
/* портфолио */

.button-portfolio {
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 6px 22px;
  min-width: 73px;
  color: black;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-decoration: none;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 94px;
  border-radius: 4px;
}

.container-link :hover,
.container-link :focus {
  color: var(--colore-backgraund);
  background: var(--colore-focus);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-bottom: 94px;
}

.portfolio .link {
  list-style: none;
  text-decoration: none;
}

.link-header {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  margin: 0;
  padding: 0;
  margin-left: 24px;
}

.link-text {
  color: #757575;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  margin: 0px 24px 20px;
  padding: 0;
}

.text-demo {
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  background: #2196f3;
  margin-left: ;
  padding: 0;
}
.container-link {
  text-align: center;
}

/ .portfolio li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio li:not(:nth-child(3n)) {
  margin-right: 30px;
}
.cart {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.cart:focus,
.cart:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
